In [74]:
import numpy as np

In [75]:
# making a n-dimensional array
a = np.array([1, 2, 3, 4, 5, 6])

In [76]:
# Indexing an array, index start from 0
a = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
print(a)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [77]:
# generating random data
data = np.random.randn(2, 3)
data

array([[-0.04085812, -0.3834524 ,  1.36347096],
       [ 1.11771894,  1.45834939,  0.94720775]])

In [78]:
#mathematical operation on the data (multiplication)
data * 10

array([[-0.40858118, -3.83452403, 13.63470958],
       [11.17718942, 14.58349391,  9.47207753]])

In [79]:
# addition operation
data + data

array([[-0.08171624, -0.76690481,  2.72694192],
       [ 2.23543788,  2.91669878,  1.89441551]])

In [80]:
# shape of the array
data.shape

(2, 3)

In [81]:
# data's data type
data.dtype

dtype('float64')

# Creating ndarrays

In [82]:
# using a object sequence
data1 = [6, 7.5, 8, 9, 1]
arr1 = np.array(data1)
arr1

array([6. , 7.5, 8. , 9. , 1. ])

In [83]:
# ndimensional arrays with a list object of lists
data2 = [[1,2,3,4], [5, 6, 7, 8]]
arr2 = np.array(data2)

arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [84]:
# checking the number of dimensions using 'ndim'
arr2.ndim

2

In [85]:
# the shape of the array, 'shape'
arr2.shape

(2, 4)

In [86]:
# data types with 'dtype'
arr1.dtype

dtype('float64')

In [87]:
arr2.dtype

dtype('int64')

In [88]:
# array of ones
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [89]:
# array of zeros
np.zeros((2, 3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [90]:
np.zeros(10)

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [91]:
# an empty array , may return an array of 'garbage values'
np.empty((2, 3, 2))

array([[[4.65498409e-310, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000]],

       [[0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000]]])

In [92]:
# range function, with 'arange'
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [93]:
np.ones_like((1, 2))

array([1, 1])

In [94]:
np.asarray(data)

array([[-0.04085812, -0.3834524 ,  1.36347096],
       [ 1.11771894,  1.45834939,  0.94720775]])

In [95]:
# create an array of any shape and fill with a constant value
np.full(3, fill_value=10) # column array of values 10,
np.full((5, 8), fill_value=12) # multi-dimensional array with values 12

array([[12, 12, 12, 12, 12, 12, 12, 12],
       [12, 12, 12, 12, 12, 12, 12, 12],
       [12, 12, 12, 12, 12, 12, 12, 12],
       [12, 12, 12, 12, 12, 12, 12, 12],
       [12, 12, 12, 12, 12, 12, 12, 12]])

## Data Types for ndarrays

In [96]:
arr1 = np.array([1, 2, 3], dtype=np.float64)

arr2 = np.array([1, 3, 4], dtype=np.int32)

arr1.dtype, arr2.dtype

(dtype('float64'), dtype('int32'))

In [97]:
# use 'astype' to change an array's data type
arr = np.array([1, 2, 3, 4, 5, 6, 7])
arr.dtype

dtype('int64')

In [98]:
float_arr = arr.astype(np.float64)
float_arr.dtype

dtype('float64')

In [99]:
arr = np.array([-1.2, 3.7, 9.8, -0.1, 10.1, 0.5 ], dtype=np.float32)
arr

array([-1.2,  3.7,  9.8, -0.1, 10.1,  0.5], dtype=float32)

In [100]:
arr.astype(np.int32)

array([-1,  3,  9,  0, 10,  0], dtype=int32)

## Arithmetic, Slicing and Indexing

In [101]:
arr = np.array([[1, 2, 3], [4, 5, 6]], dtype=np.float32)
arr

array([[1., 2., 3.],
       [4., 5., 6.]], dtype=float32)

In [102]:
# multiplication
arr * arr

array([[ 1.,  4.,  9.],
       [16., 25., 36.]], dtype=float32)

In [103]:
arr - arr

array([[0., 0., 0.],
       [0., 0., 0.]], dtype=float32)

In [104]:
# division by scalar element
1 / arr

array([[1.        , 0.5       , 0.33333334],
       [0.25      , 0.2       , 0.16666667]], dtype=float32)

In [105]:
# array raised to the power of x
arr ** 0.5

array([[1.       , 1.4142135, 1.7320508],
       [2.       , 2.236068 , 2.4494898]], dtype=float32)

In [106]:
# array comparison yields bool
arr2 = np.array([[0, 4, 1], [7, 2, 12]], dtype=np.float32)
arr2

array([[ 0.,  4.,  1.],
       [ 7.,  2., 12.]], dtype=float32)

In [107]:
# this compares the elements of an array with it's corresponding elements of another array
arr2 > arr

array([[False,  True, False],
       [ True, False,  True]])

In [108]:
# Basic indexing and slicing
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [109]:
# selecting the N-th element
arr[5]

5

In [110]:
arr[5:8]

array([5, 6, 7])

In [111]:
# can assign new values to a slice
arr[5:8] = 12
arr

array([ 0,  1,  2,  3,  4, 12, 12, 12,  8,  9])

In [112]:
# this is not a copy of the original array
arr_slice = arr[5:8]
arr_slice

array([12, 12, 12])

In [113]:
# assigning a values to any index would affect the original array
arr_slice [1] = 12345

In [114]:
arr

array([    0,     1,     2,     3,     4,    12, 12345,    12,     8,
           9])

In [115]:
# assigns 64 to every element in the array
arr_slice[:] = 64

arr_slice

array([64, 64, 64])

In [116]:
# to make a copy of an array use the 'copy()' function
arr_copy = arr[5:8].copy()
arr_copy

# change the value of an element and if the original array changes
arr_copy[2] = 6
arr_copy, arr

(array([64, 64,  6]), array([ 0,  1,  2,  3,  4, 64, 64, 64,  8,  9]))

In [117]:
# for multi-dimensional arrays
arr2d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]], dtype=np.float32)
arr2d

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]], dtype=float32)

In [118]:
# getting the third row
arr2d[2]

array([7., 8., 9.], dtype=float32)

In [119]:
print(arr2d[2, 2]) # The same as arr2d[0][2], prints 9
print(arr2d[1, 2]) # print 6
print(arr2d[0, 0]) # prints 1
print(arr2d[0, 2]) # print 3

9.0
6.0
1.0
3.0

In [120]:
# prints all the elements of the array arr2d

for row in range(len(arr2d)):
    print(arr2d[row])

[1. 2. 3.]
[4. 5. 6.]
[7. 8. 9.]

In [121]:
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d # a 2x2x3 array

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [122]:
arr3d[0] # first element of the array

array([[1, 2, 3],
       [4, 5, 6]])

In [123]:
old_values = arr3d[0].copy() # make a copy of the array
arr3d[0] = 42 # change all the values of the first index to 42
arr3d

array([[[42, 42, 42],
        [42, 42, 42]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [124]:
arr3d[0] = old_values
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [125]:
arr3d[1, 0]

array([7, 8, 9])

In [126]:
arr3d[1, 0, 2] # prints 9

9

In [127]:
# looping through a higher Ndarray
for row in range(len(arr3d)):
    print(arr3d[row])

[[1 2 3]
 [4 5 6]]
[[ 7  8  9]
 [10 11 12]]

In [128]:
x = arr3d[1]
x

array([[ 7,  8,  9],
       [10, 11, 12]])

In [129]:
x[0]

array([7, 8, 9])

In [130]:
x[1, 1] # prints 11

11

In [131]:
arr

array([ 0,  1,  2,  3,  4, 64, 64, 64,  8,  9])

In [132]:
arr[1:6]

array([ 1,  2,  3,  4, 64])

In [133]:
arr2d

array([[1., 2., 3.],
       [4., 5., 6.],
       [7., 8., 9.]], dtype=float32)

In [134]:
arr2d[:2]

array([[1., 2., 3.],
       [4., 5., 6.]], dtype=float32)

In [135]:
arr2d[:2, 1:]

array([[2., 3.],
       [5., 6.]], dtype=float32)

In [136]:
arr2d[1, :2]

array([4., 5.], dtype=float32)

In [137]:
arr2d[2, 1:]

array([8., 9.], dtype=float32)

In [138]:
arr2d[:2, 2]

array([3., 6.], dtype=float32)

In [139]:
arr2d[:, :1]

array([[1.],
       [4.],
       [7.]], dtype=float32)

In [140]:
arr2d[:2, 1:] = 0
arr2d

array([[1., 0., 0.],
       [4., 0., 0.],
       [7., 8., 9.]], dtype=float32)

In [141]:
names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])
data = np.random.randn(7, 4)

In [142]:
names

array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'], dtype='<U4')

In [143]:
data

array([[ 1.36917839,  1.35467617,  0.89183897,  0.03092771],
       [ 0.62223827,  0.66294303, -2.60425649, -0.73421949],
       [-0.48132283,  0.29277104, -0.71438716, -2.20843494],
       [ 0.48159769,  0.73700971, -0.14233068,  0.93797908],
       [-1.50771792,  1.25180964,  0.07871679, -0.40352809],
       [-0.05462712,  0.61638138,  0.21245387, -0.54772588],
       [ 1.00292499, -0.60144742,  0.73856122, -0.2038515 ]])

In [144]:
names == 'Bob'

array([ True, False, False,  True, False, False, False])

In [145]:
data[names =='Bob']

array([[ 1.36917839,  1.35467617,  0.89183897,  0.03092771],
       [ 0.48159769,  0.73700971, -0.14233068,  0.93797908]])

In [146]:
data[names=='Bob', 3]

array([0.03092771, 0.93797908])

In [ ]:
dat